.committee-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(../src/assets/FadedDragon.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 80%;
}

h1 {
  font-size: 45px;
  margin: 10px;
  color: green;
  padding: 10px;
}

.committee-page ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin: 20px 0;
}

.committee-page li {
  margin-bottom: 20px;
  background-color: transparent;
}

.committee-page ul ul {
  border: none;
  padding: 0;
  margin: 0;
}

.committee-page ul ul li {
  margin-bottom: 5px;
}

.committee-page p {
  font-size: 1.2rem;
}

.committee-member {
  background-color: transparent;
}

.committee-content {
  margin: 0 20px;
  border: 1px solid #fcfbfbee;
  border-radius: 5px;
  padding: 20px;
  background-color: #fcfbfb;
}

.committee-title {
  font-weight: bold;
  font-size: 18px;
}

@media (min-width: 769px) {
  .committee-content {
    margin: 0 300px;
  }

  h1 {
    font-size: 25px;
  }
}
