nav {
  & ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }
}

.all_nav {
  justify-content: space-between;
}

.browse_nav {
  margin-bottom: 0;
  padding-left: 0;
}

.logo-img {
  max-height: 50px;
  max-width: 50%;
  margin: 5px 10px;
  border-radius: 50%;
}

@media (min-width: 990px) {
  nav {
    & ul {
      display: flex;
      flex-direction: row;
    }
  }
}
