.training-page {
  padding: 20px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .training-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 20px 150px;
  }

  .training-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .training-item ul {
    list-style: none;
    padding: 0;
  }

  .training-item li {
    margin-bottom: 10px;
  }

  p {
    font-size: 1.2rem;
  }

  @media (max-width: 768px) {
    .training-list {
      margin: 20px 20px;
    }

    .training-item {
      margin-bottom: 10px;
    }
  }
}
